<section class="home-view">
    <div class="home-view__search">
        <hero-search
        (searchEvent)="onSearch($event)"
        (clearEvent)="onClear($event)"
        ></hero-search>
    
        <p class="home-view__search--results"><span>{{ results }}</span> results</p>
    </div>
    <ul>
        <li *ngFor="let hero of heroesListFiltered">
            <hero-item-list
                [heroItem]="hero"
                (editHeroEvent)="onEditHero($event)"
                (deleteHeroEvent)="onDeleteHero($event)"
            ></hero-item-list>
        </li>
    </ul>
        
</section>
