<div class="hero-item-list">
    <!-- region INFO HERO -->
    <div class="hero-item-list__data">
        <!-- region PERSONAL DATA  -->
        <div class="hero-item-list__data--info" (click)="seeDetailHeroEvent.emit(heroItem)">
            <img [src]="heroItem?.img" [alt]="heroItem?.name + 'profile picture'" class="hero-item-list__data--info-img" />
            <span class="hero-item-list__data--info-name">{{ heroItem?.name | titlecase }}</span>
            <span class="hero-item-list__data--info-race">{{ heroItem?.race }}</span>
        </div>
        <!-- endregion -->
    
        <!-- region ACTIONS  -->
        <div class="hero-item-list__data--actions">
            <w2m-default-button
                [text]="'Edit'"
                [mode]="'primary'"
                (click)="editHeroEvent.emit(heroItem)"
            ></w2m-default-button>
            <w2m-default-button
                [text]="'Delete'"
                [mode]="'warn'"
                (click)="showConfirmation()"
            ></w2m-default-button>
        </div>
        <!-- endregion -->
    </div>
    <!-- endregion -->

    <!-- region CONFIRMATION DELETION -->
    <div *ngIf="isDeleteConfirmEnabled" class="hero-item-list__confirmation">
        <p>Do you want to remove to <span>{{ heroItem?.name }}</span>?</p>
        <div>
            <button mat-button color="primary" (click)="confirm()">Confirm</button>
            <button mat-button color="warn" (click)="cancel()">Cancel</button>
        </div>
    </div>
    <!-- endregion -->
</div>
