.hero-item-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #999;
    padding: 10px 0;
    &__info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        &--name {
            font-size: 1.3rem;
            font-weight: 500;
            color: lightcoral;
        }
        &--race {
            font-size: 0.85rem;
            color: lightgrey;
        }
    }
    &__actions {
        display: flex;
        gap: 10px;
    }
}