.notification {
    padding: 1rem 1.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    &.success {
        background-color: lightgreen;
        color: green;
    }
    &.error {
        background-color: lightcoral;
        color: red;
    }
    &.info {
        background-color: lightblue;
        color: blue;
    }

}