.app-container {
    mat-drawer-container, mat-drawer {
        height: calc(100vh - 64px);
        color: #2a2a2a;
    }
    mat-drawer-container {
        main {
            padding: 1.25rem;
        }
    }
    mat-drawer {
        background-color: #4d4d4d;
        width: 12.5rem;
        height: 100%;
        border-right: 1px solid #7b1fa2;
      }

   
}
