<header>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{ titleApp }}</span>
  </mat-toolbar>
</header>

<div class="app-container">
  <mat-drawer-container autosize>
    <mat-drawer #drawer mode="side" opened>
      <mat-nav-list>
        <a mat-list-item *ngFor="let item of navigationMenu" [activated]="item.isActive" [routerLink]="item.url">{{ item.link }}</a>
      </mat-nav-list>
    </mat-drawer>
  
    <main>
      <router-outlet></router-outlet>
    </main>
  
  </mat-drawer-container>
</div>