<form class="hero-search" [formGroup]="searchForm">
    <mat-form-field appearance="outline" >
        <mat-label>{{ label }}</mat-label>
        <input 
            matInput 
            formControlName="value" 
            [placeholder]="placeholder" 
            (keyenter)="onSearchEvent()">
        <mat-icon matSuffix>{{ icon }}</mat-icon>
    </mat-form-field>

    <div class="hero-search__actions">
        <button mat-stroked-button (click)="onSearchEvent()">Search</button>
        <button mat-stroked-button color="warn" (click)="onClear()">Clear</button>
    </div>
</form>
