/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Breakpoints Variables
$size-xs: 375px;
$size-sm: 576px;
$size-md: 768px;
$size-lg: 992px;
$size-xl: 1280px;
