<div class="edit-hero-view">
    <h1 class="edit-hero-view__title">New hero</h1>
    
    <!-- region CREATE FORM -->
    <form class="edit-hero-view__form" [formGroup]="createHeroForm">
        <!-- region NAME FIELD -->
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter a name" formControlName="name">
        </mat-form-field>
        <!-- endregion -->

        <!-- region RACE FIELD -->
        <mat-form-field appearance="fill">
            <mat-label>Race</mat-label>
            <input matInput placeholder="Enter a race" formControlName="race">
        </mat-form-field>
        <!-- endregion -->

        <!-- region ACTIONS -->
        <div class="edit-hero-view__form--actions">
            <w2m-default-button
                [text]="'Save'"
                [mode]="'primary'"
                [isDisabled]="createHeroForm.invalid"
                (click)="saveHero()"
            ></w2m-default-button>
            
            <w2m-default-button
                [text]="'Cancel'"
                [mode]="'warn'"
                (click)="return()"
            ></w2m-default-button>
        </div>
         <!-- endregion -->
    </form>
    <!-- endregion -->
</div>
