<div class="details">
    <h1 class="details__title">Details Heroes</h1>

    <div class="details__form">
        <form class="hero-search" [formGroup]="searchForm">
            <mat-form-field appearance="outline" >
                <mat-label>Hero</mat-label>
                <input 
                    matInput 
                    formControlName="value" 
                    [placeholder]="'Enter a name'" 
                    (keyenter)="onSearch()">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        
            <div class="hero-search__actions">
                <button mat-stroked-button (click)="onSearch()">Search</button>
                <button mat-stroked-button color="warn" (click)="onClear()">Clear</button>
            </div>
        </form>

        <p *ngIf="heroesCardsFiltered.length > 0" class="details__form--results"><span>{{ results }}</span> {{ results === 1 ? 'hero' : 'heroes' }}</p>
    </div>

    <div *ngIf="isSpinnerEnabled" class="details__spinner">
        <mat-spinner></mat-spinner>
    </div>

    <ng-container *ngIf="!isSpinnerEnabled">
        <w2m-notification
            *ngIf="heroesCardsFiltered.length === 0"
            [notificationText]="'There are no heroes to show. Please try again.'"
            [type]="'info'"
            (closeEvent)="onCloseNotification()"
        ></w2m-notification>

        <w2m-notification
            *ngIf="isErrorService"
            [notificationText]="'Service error. Please try later'"
            [type]="'error'"
            (closeEvent)="onCloseNotification()"
        ></w2m-notification>

        <div class="details__cards">
            <div class="details__cards--container" *ngFor="let hero of heroesCardsFiltered">
                <hero-card [heroCard]="hero"></hero-card>
            </div>
        </div>
    </ng-container>

</div>
