<div class="details">
    <h1 class="details__title">Details</h1>

    <div class="details__cards">
        <div class="details__cards--container">
            <hero-card></hero-card>
        </div>
        <div class="details__cards--container">
            <hero-card></hero-card>
        </div>
        
        <div class="details__cards--container">
            <hero-card></hero-card>
        </div>
        
        <div class="details__cards--container">
            <hero-card></hero-card>
        </div>
        <div class="details__cards--container">
            <hero-card></hero-card>
        </div>
        <div class="details__cards--container">
            <hero-card></hero-card>
        </div>
   
    </div>
</div>
