@import '../../home/components/hero-search/hero-search.component.scss';
@import '../../../../styles.scss';

.details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__title {
        color: #fff;
        margin-bottom: 0;
        padding: 0 20px;
    }
    &__form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      form {
        width: 50%;
      }
      &--results {
        margin: 0;
        color: #fff;
        span {
            font-size: 1.2rem;
            color: lightgreen;
            font-weight: 700;
        }
    }
    }
    &__cards {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
      &--container {
          width: 19%;
      }
    }
    &__spinner {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 10px;
  }
}

@media(max-width: $size-xl) {
  .details {
    &__form {
      form {
        width: 70%;
      }
    }
    &__cards {
      &--container {
        width: 24%;
      }
    }
  }
}

@media(max-width: $size-md) {
  .details {
    &__form {
      flex-direction: column;
      form {
        width: 100%;
      }
      &--results {
        display: block;
        width: 100%;
      }
    }
    &__cards {
      &--container {
        width: 32%;
      }
    }
  }
}

@media(max-width: $size-sm) {
  .details {
    &__title {
      padding: 0;
    }
    &__form {
      padding: 0;
    }
    &__cards {
      &--container {
        width: 100%;
      }
    }
  }
}